
CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003
# https://dashboard.stripe.com/test/apikeys
# Este es el api keys publico de stripe
STRIPE_SECRET=123456
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_UR=http://localhost:3003/payments/cancel
# https://dashboard.stripe.com/acct_1Txty8Db1WHXYQDD/test/workbench/webhooks/we_1Ty8aGDb1WHXYQDDFTDr6F4x?fromWizard=true
# Este es el signing secret del webhook
STRIPE_WEBHOOK_SECRET=123456


AUTH_DATABASE_URL=mongodb+srv://user:password@auth-microservice-db.mro8lzk.mongodb.net/AuthDB